body{

    background: #000000;
    margin: 0;
    padding: 20px;
    height: 100vh;
    image-rendering: pixelated;
    overflow: hidden;
    font-family: monospace;
    color: #fff;
    font-size: 16px;
}
canvas{

    padding: 0;
    margin: 0;
    image-rendering: pixelated;
    transition: opacity 1s;
    position: fixed;

}
#WEBGLRENDERER{

    opacity: 0;

}

p {

  margin: 0;
  padding: 10px 0;

}

a{

  display: block;
  letter-spacing: : 2px;

}

a {

  padding: 10px 0;

}
a::hover{

  color: #fff;

}

a, a:visited, a::after, a::before{

  color: #fff;

}
